---
import logosrc from '~/assets/logo.png?url'

function splitHash(hash: string)
{
	const numParts = Math.max(1, Math.min(4, Math.floor(hash.length / 4)))
	// Divide the hash into `numParts` equal parts
	const partMinLength = Math.floor(hash.length / numParts)
	const extraLength = hash.length % numParts
	const parts = []
	for (let i = 0, startIndex = 0; i < numParts; ++i)
	{
        const partLength = partMinLength + (i < extraLength ? 1 : 0)
        parts.push(hash.slice(startIndex, startIndex + partLength))
        startIndex += partLength;
	}
	return parts
}

const data = Astro.props.data || {}
const version = data.version || import.meta.env.GITHUB_SHA || 'dev'

const footerText = data.footer || null
---

<div class="main">

	<div class="content-controls">

		<button class="btn" data-content-control="split">
			Split document in pages
		</button>

		<button class="btn" data-content-control="print">
			Print
		</button>

		<button class="btn" data-content-control="reload">
			Reload page
		</button>

	</div>

	<div class="content-ruler"></div>

	<div class="content-wrapper">

		<div class="content-header">
			<!-- <div class="side">
				&nbsp;
			</div> -->
			<img src={logosrc} alt="FluffEvent logo" />
			<div class="overlay">
				<p class="version">
					<Fragment set:html={splitHash(version).join('<br />')} />
				</p>
			</div>
		</div>

		{version === 'dev' && (
			<div class="content-watermark">
				<p class="specimen">
					SPECIMEN
				</p>
			</div>
		)}

		<div class="content-body">
			<slot /> <!-- Rendered content -->
		</div>

		<div class="content-footer two-columns">
			<div class="left">
				{footerText !== null && (
					<Fragment set:html={footerText} />
				)}
			</div>
			<div class="right">
				<p>Page <span class="page-number">00</span> / <span class="page-count">00</span></p>
			</div>
		</div>

	</div>

	<div class="content-print">
		<!-- Generated with JavaScript -->
	</div>

</div>

<style lang="scss" is:global>
@page {
	size: A4;
	margin: 0;
}
</style>

<style lang="scss">
@reference '~/styles/tailwind.css';

.main {
	@apply flex flex-col justify-start items-center;

	.content-controls {
		@apply flex justify-center items-center gap-4;
		@apply mt-8;

		@media print {
			@apply hidden;
		}

		.btn {
			@apply bg-cyan-600;
			@apply px-2 py-1;
			@apply text-sm text-white font-semibold;
			@apply border border-cyan-700 rounded-lg;
			@apply cursor-pointer;

			&:hover {
				@apply bg-cyan-700;
			}
		}
	}

	.content-wrapper {
		@apply relative flex flex-col;
		@apply bg-white;
		width: 210mm;
		@apply m-8 mb-16;
		padding-top: 19mm;
		padding-left: 19mm;
		padding-right: 13.2mm;
		padding-bottom: 19mm;
		@apply border border-solid border-gray-300;
		@apply shadow-lg;
		font-family: 'Noto Serif Variable', 'Georgia', serif;

		&.print-sized {
			height: 297mm;
		}

		@media print {
			@apply bg-inherit w-full m-0;
			@apply border-0 shadow-none;
		}

		.content-header {
			@apply relative flex justify-center items-end;
			@apply w-full h-24;
			margin-top: calc(13.2mm - 19mm);
			margin-bottom: calc(19mm - 13.2mm);

			.overlay {
				@apply absolute inset-0 flex justify-center items-center;
				@apply opacity-10;
			}

			img {
				@apply max-h-full;
			}

			.version {
				@apply text-sm font-semibold;
				@apply break-after-avoid;
			}
		}

		.content-watermark {
			@apply hidden;
			@apply opacity-20;

			@media print {
				@apply absolute inset-0 flex justify-center items-center;
			}

			.specimen {
				@apply text-9xl text-center font-bold text-red-500;
				// Rotate 45 degrees
				transform: rotate(-45deg);
			}
		}

		.content-body {
			@apply flex-grow;
		}

		.content-footer {
			@apply flex justify-between items-start gap-4;
			@apply mt-8;
			margin-top: calc(19mm - 13.2mm);
			margin-bottom: calc(13.2mm - 19mm);

			.left, .right {
				@apply flex flex-col justify-center items-start;
				@apply flex-grow;
				flex-basis: 100%;
			}

			.right {
				@apply items-end;
			}
		}
	}

	:global(h1) {
		@apply mb-8 text-3xl text-center font-bold;
		@apply break-after-avoid;
	}

	:global(h2) {
		@apply mb-4 text-xl font-bold;
		@apply break-after-avoid;
	}

	:global(h3) {
		@apply mb-4 text-lg font-semibold;
		@apply break-after-avoid;
	}

	:global(h4) {
		@apply mb-4 text-base font-semibold;
		@apply break-after-avoid;
	}

	:global(p), :global(ul), :global(ol) {
		@apply mb-4;

		+ :global(h1), + :global(h2), + :global(h3), + :global(h4) {
			@apply mt-8;
		}
	}

	:global(ul), :global(ol) {
		@apply ml-8 list-outside;
		list-style-type: '-';

		> :global(li) {
			@apply pl-4;
		}
	}

	:global(hr) {
		@apply mx-0 my-8 border-t border-gray-300;
		@apply break-after-page;

		@media print {
			@apply m-0 border-0;
		}
	}

	:global(blockquote) {
		@apply mb-4 pl-4 pt-2 pb-4;
		@apply border-l-2 border-gray-300;

		> :global(*:last-child) {
			@apply mb-0;
		}
	}

	:global(table) {
		@apply w-full border-collapse;

		:global(td) {
			@apply bg-clip-padding;
			@apply border-0 border-transparent;
		}

		:global(thead th) {
			@apply font-semibold align-bottom;
		}

		:global(thead + tbody tr > td), :global(tr + tr > td) {
			@apply border-t-[1rem];
		}

		:global(tr > td + td) {
			@apply border-l-[0.5rem];
		}
	}

	:global(div.text-center) {
		@apply mb-6;
	}

	:global(span.input-line) {
		@apply relative inline-block;
		@apply w-1/4 mx-1;

		&::before {
			@apply absolute block;
			@apply w-full mt-0.5;
			@apply border-b border-gray-400 border-dashed;
			content: '';
		}

		&:global(.input-line-long), &:global(.input-line-long) {
			@apply w-full;
		}
	}

	:global(.signature) {
		@apply p-2 max-w-[80%];
		@apply border-b border-l border-gray-300 rounded-bl-lg;

		:global(.faded-text) {
			@apply text-gray-500 text-sm;
		}
	}
}

*:last-child {
	margin-bottom: 0 !important;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', () =>
{
	// Find "<em>[ ... ]</em>"
	// Replace with "<div class="signature"><span class="faded-text">...</span></div>"
	document.querySelectorAll('p, strong, em, span, li, td').forEach((element) =>
	{
		const textMatch = element.textContent?.match(/^\[\[ ([^\]]+) \]\]$/)
		if (textMatch)
		{
			const [ _, description ] = textMatch
			const div = document.createElement('div')
			div.classList.add('signature')
			const divSpan = document.createElement('span')
			divSpan.classList.add('faded-text')
			divSpan.textContent = `${description}`
			div.appendChild(divSpan)

			if (['P', 'LI', 'TD'].includes(element.tagName))
			{
				element.innerHTML = ''
				element.appendChild(div)
			}
			else
			{
				element.replaceWith(div)
			}
		}
	})
})

let isSplitDocument = false

function splitDocument()
{
	if (isSplitDocument)
	{
		// Already split
		return
	}

	// Get wrapper elements
	const contentWrapper = document.querySelector('.content-wrapper')
	const contentBody = contentWrapper!.querySelector('.content-body')
	const contentPrint = document.querySelector('.content-print')

	// Split list elements
	const contentBodyLists = contentBody ? Array.from(contentBody.querySelectorAll('UL, OL')) : []
	for (const list of contentBodyLists)
	{
		const listItems = Array.from(list.children)
		const newLists = []
		for (const listItem of listItems)
		{
			const newList = document.createElement(list.tagName)
			newList.appendChild(listItem)
			newLists.push(newList)
		}

		list.replaceWith(...newLists)
	}

	// Get content body elements
	const contentElements = contentBody ? Array.from(contentBody.children) : []

	if (contentElements.length <= 0)
	{
		return
	}

	// Clear content print pages
	contentPrint!.innerHTML = ''

	// Create a temporary blank page to get the maximum height
	const contentBlankPage = contentWrapper!.cloneNode(true) as Element
	contentBlankPage.classList.add('print-sized')
	const contentBlankBody = contentBlankPage.querySelector('.content-body')
	contentBlankBody!.innerHTML = ''
	contentPrint!.appendChild(contentBlankPage)
	const maxPageHeight = contentBlankBody!.getBoundingClientRect().height!

	const pages: Array<Array<Element>> = [ [] ]
	let absoluteTop = Number.NaN

	for (let elementIndex = 0; elementIndex < contentElements.length; ++elementIndex)
	{
		const element = contentElements[elementIndex]!

		if (element.tagName === 'HR')
		{
			// Start new page, as always on hr elements
			pages.push([])
			absoluteTop = NaN
			continue
		}

		const rect = element.getBoundingClientRect()

		if (Number.isNaN(absoluteTop))
		{
			// Use the element's top position
			absoluteTop = rect.top
		}

		const contentHeight = rect.bottom - absoluteTop

		if (rect.top >= 1 && contentHeight > maxPageHeight)
		{
			// Start new page, unless the element is top of the page
			pages.push([])
			absoluteTop = rect.top
		}

		if ([ 'H1', 'H2', 'H3', 'H4' ].includes(element.tagName))
		{
			// Check the element after the heading fits on the page
			const nextElement = contentElements[elementIndex + 1]
			if (nextElement)
			{
				const nextRect = nextElement.getBoundingClientRect()
				const nextContentHeight = nextRect.bottom - absoluteTop
				if (nextContentHeight > maxPageHeight)
				{
					// Start new page, because the next element does not fit after the heading
					pages.push([])
					absoluteTop = nextRect.top
				}
			}
		}

		// Add element to the last page
		pages[pages.length - 1]!.push(element)
	}

	// Hide the content wrapper
	(contentWrapper! as HTMLElement).style.setProperty('display', 'none')

	// Clear the content print
	contentPrint!.innerHTML = ''

	// Create content print pages
	for (let pageNum = 1; pageNum <= pages.length; ++pageNum)
	{
		const page = pages[pageNum - 1]

		// Create a new page
		const contentPage = contentBlankPage.cloneNode(true) as Element
		const contentPageBody = contentPage.querySelector('.content-body')
		contentPageBody!.innerHTML = ''
		contentPageBody!.append(...page!)

		// Replace page number
		const pageNumbers = contentPage!.querySelectorAll('.page-number')
		pageNumbers.forEach((element) =>
		{
			element.textContent = `${pageNum}`
		})

		// Replace page count
		const pageCounts = contentPage!.querySelectorAll('.page-count')
		pageCounts.forEach((element) =>
		{
			element.textContent = `${pages.length}`
		})

		contentPrint!.appendChild(contentPage)
	}

	isSplitDocument = true
}

document.querySelectorAll('[data-content-control="split"]').forEach((element) =>
{
	element.addEventListener('click', () =>
	{
		splitDocument()
	})
})

window.addEventListener('beforeprint', () =>
{
	splitDocument()
})

document.querySelectorAll('[data-content-control="print"]').forEach((element) =>
{
	element.addEventListener('click', () =>
	{
		window.print()
	})
})

document.querySelectorAll('[data-content-control="reload"]').forEach((element) =>
{
	element.addEventListener('click', () =>
	{
		location.reload()
	})
})
</script>
